<ion-header>
  <ion-toolbar>
    <ion-title>
      Noise
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list (ionChange)="changeNoiseColor($event)">
      <ion-radio-group>
        <ion-list-header>
          <ion-label>Color</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Pink</ion-label>
          <ion-radio value="pink"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Brown</ion-label>
          <ion-radio value="brown" checked></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>White</ion-label>
          <ion-radio value="white"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-list-header>
      <ion-label>Volume</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-range min="-20" max="0" value="-10" (ionChange)="changeVolume($event)">
        <ion-icon size="small" slot="start" name="volume-low"></ion-icon>
        <ion-icon slot="end" name="volume-high"></ion-icon>
      </ion-range>
    </ion-item>
    <div id="transport-controls">
        <ion-button (click)="start()">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>
        <ion-button (click)="stop()">
          <ion-icon slot="icon-only" name="square"></ion-icon>
        </ion-button>
        <ion-button (click)="muteClick()">
          <ion-icon slot="icon-only" name="{{muteicon}}"></ion-icon>
        </ion-button>
    </div>
</ion-content>
